/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONT END */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 500vh;
    position: relative;
    background-color: #fafafa;
}

/* LANDING PAGE */

    /* Navbar */
    .container-navbar{
        width: 100%;
        height: 13.89vh;
    }

    header {
        position: relative;
    }

    .navbar {
        padding: 0 7%;
        position: fixed;
        border-bottom: 3px solid rgba(0, 0, 0, 0.1);

        height: 13.89vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #fafafa;

        z-index: 9999;
    }

    .logo {
        display: flex;
        width: 10.8vh;
        height: 10.8vh;
    }

    .nav-menu {
        display: flex;
        gap: 25px;

    }

    .nav-menu > li {
        list-style: none;
    }

    .nav-menu > li > a {
        text-decoration: none;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 0.938rem;

        color: #333;
    }
    /* NAVBAR END */

    /* HERO */
    .container-home {
        padding: 0 7%;
        /* background-color: bisque; */
    }
    .container-home h1 {
        margin: 0 auto;
        padding-top: 26px;
        padding-bottom: 26px;
        text-align: center;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;

        width: 60%;
        /* background-color: aliceblue; */
        
    }

    .container-image {
        display: flex;
        /* background-color: burlywood; */
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

    }

    .container-image > .image-1{
        width: 170px;
        height: 200px;
        background-image: url(../Content/250x225.jpg);
        background-size: cover;
        background-position: -1000px;

        border-radius: 8px;
        filter: drop-shadow(1px 1px 2px rgba(51, 51, 51, 0.14));
    }

    .container-image > .image-2{
        width: 170px;
        height: 230px;
        background-image: url(../Content/250x300.jpg);
        background-size: cover;
        background-position: 190px;

        border-radius: 8px;
        filter: drop-shadow(1px 1px 2px rgba(51, 51, 51, 0.14));
    }

    .container-image > .image-3{
        width: 170px;
        height: 260px;
        background-image: url(../Content/250x450.jpg);
        background-size: cover;
        background-position: -150px;

        border-radius: 8px;
        filter: drop-shadow(1px 1px 2px rgba(51, 51, 51, 0.14));
    }

    .container-image > .image-4{
        width: 170px;
        height: 230px;
        background-image: url(../Content/250x300\ \(2\).jpg);
        background-size: cover;

        border-radius: 8px;
        filter: drop-shadow(1px 1px 2px rgba(51, 51, 51, 0.14));
    }

    .container-image > .image-5{
        width: 170px;
        height: 200px;
        background-image: url(../Content/250x225\ \(2\).jpg);
        background-size: cover;

        border-radius: 8px;
        filter: drop-shadow(1px 1px 2px rgba(51, 51, 51, 0.14));
    }

    .container-quote-socialmedia{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-quote{
        width: 240px;
        height: 100px;
    }

    .container-quote > img {
        width: 16px;
        width: 16px;
    }

    .container-quote > p {
        padding-top: 10px;

        font-family: 'Montserrat' ,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12.5px;
    }
    
    .container-quote > h3 {
        padding-top: 10px;

        font-family: 'Monsieur La Doulaise', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
    }

    .msds-button{
        display: block;
        margin: 0 auto;

        width: 50px;
        height: 50px;

        background: #FFFFFF;
        border-radius: 100%;

        border: none;

        box-shadow: 1px 1px 5px 1px rgba(51, 51, 51, 0.07), -1px -1px 4px rgba(51, 51, 51, 0.07);
    }

    .msds-button > img {
        width: 16px;
        height: 17px;
        margin-top: 2px;
    }

    .social-media {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #fafafa;
    }
    .social-media > img {
        width: 42px;
        height: 42px;
    }

    .social-media > p {
        width: 140px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;

        color: #333;
    }

    .social-media > button {
        background-color: #fafafa;
        border: 1.5px solid #333;

        width: 42px;
        height: 42px;

        border-radius: 100%;
    }
    .social-media > button > img {
        margin-top: 2px;
    }

    /* HERO END */





/* LANDING PAGE END */



/* MSDS */

/* Write Code Here */

/* MSDS END */



/* E-BOOK */

.container-ebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    height: 100vh;
    background-color: aliceblue;
}

.left-side > .big-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;

    color: #333;
}
.big-text > :nth-child(2){
    margin-left: 76px;
}
.big-text > :last-child{
    margin-left: 152px;
}
.small-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    margin-top: 20px;
    margin-left: 76px;

    color: rgba(51, 51, 51, 0.8);
}

.small-text > .line {
    margin-top: 10px;
    width: inherit;
    border-bottom: solid 4px rgba(51, 51, 51, 0.1);
    border-radius: 100%;
}

.bottom-button:last-child {
    .button-right {
        height: 60px;
        width: 200px;
        background-color: #132233;
        border: 2px solid rgb(182, 128, 128);
        color: #eee;
        transition: .6s;
        font-size: 15px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px; */
        overflow: hidden;
      }
      
      .button-right span {
        transform: translateX(10px);
        transition: .5s;
      }
      
      .button-right svg {
        transform: translateX(-300px);
        transition: .6s;
        z-index: 3;
        height: 20px;
      }
      
      .button-right:hover {
        width: 60px;
        background-color: rgba(51, 34, 51, 0.815);
        box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
      }
      
      .button-right:hover svg {
        transform: translateX(-5px);
      }
      
      .button-right:hover span {
        transform: translateY(70px);
        font-size: .1rem;
      }
}

.right-side > img {
    width: 100%;
    height: 50%;
}

/* E-BOOK END */



/* ACTIVITY */

/* write code here */

/* ACTIVITY END */



/* ABOUT US */

/* write code here */

/* ABOUT US END */
